comp -platform StratoM
comp -num_boards 64

comp -distrib_flow machlist
comp -mf machlist.txt

comp -clk_file clkfile

comp -rtlc_opt_flow capAndPerf

hvl -cpppath $GCC_EXE
hvl -64bit_runtime
comp -hvl systemc

rtlc -dump_tpr
rtlc -enable_xactor_localization

comp -assertcomp

rtlc -forceset_nets_file xforce.siglist

rtlc -enable_vis_src_packing

rtlc -partition_module_xrtl hdl_top
rtlc -partition_module_xrtl instn_simple_pipe_mon
rtlc -partition_module_xrtl rvfi_tracer
rtlc -partition_module_xrtl cva6v_cva6_rvfi
rtlc -partition_module_xrtl cva6v_monitor
rtlc -partition_module_xrtl uart_xactor
rtlc -partition_module_xrtl cva6v_onehot_to_bin
rtlc -partition_module_xrtl soc_periph_dw_uart_DW_apb_uart

# enum casting issue
rtlc -suppress RTLC-2429

rtlc -allow_4ST
rtlc -allow_IVM
rtlc -enable_pad_modeling
rtlc -compile_udps
rtlc -allow_GSD
rtlc -allow_ISL
rtlc -allow_REAL
rtlc -allow_IAD
rtlc -disable_tbx_pragma_error
rtlc -max_loop_cnt 10000
rtlc -allow_CVD
rtlc -allow_mdr_on_reg

rtlc -relative_readmem_path

rtlc -ccov_file ccov_cfg.txt
