{% macro render_items(item)-%}
// AUTO GENERATED, DON'T MANUALLY EDIT!!
// (C) Copyright Axelera AI 2024
// All Rights Reserved
// *** Axelera AI Confidential ***
//
// Description: Automatic generated module with all memories
// Owner: hw/scripts/addr_map

{% for item in items -%}
  {% if item.type == "device"%}
    .DEVICE_REGION{{ loop.index-1 }}_BASE({{ "64'h" ~ "%x" % item.offset }}),
    .DEVICE_REGION{{ loop.index-1 }}_MASK({{ "64'h" ~ "%x" % item.mask }}),
  {%elif item.type == "memory"%}
    .MEMORY_REGION{{ loop.index-1 }}_BASE({{ "64'h" ~ "%x" % item.offset }}),
    .MEMORY_REGION{{ loop.index-1 }}_MASK({{ "64'h" ~ "%x" % item.mask }}),
  {% endif -%}
{% endfor %}

{% endmacro %}
{{ render_items(items) }}

