{% import 'get_object.jinja2' as get_object %}
{% macro get_clocks(clock_groups) -%}
{% for group in clock_groups.values() %} -group [get_clocks {{ "{" }}{% for clock_name in group %}{{ clock_name }} {% endfor%}{{ "}" }}]{% endfor %}
{%- endmacro %}

################
# Clock Groups #
################
{% for clock_group in data.clock_groups|filter_by_mode(constraint_mode) -%}
set_clock_groups -{{ clock_group.exclusive.value }} -name {{ clock_group.name }}_group{% if clock_group.allow_path %} -allow_paths{% endif %}{{ get_clocks(clock_group.groups) }}
{% endfor %}
