{% import 'get_object.jinja2' as get_object %}
################################
# Define additional min Delays #
################################
{% for path in data.min_delay|filter_by_mode(constraint_mode) %}
set_min_delay {{ arguments.type(path.type) }} {{ arguments.from(path.from_object) }}{{ arguments.to(path.to_object) }}{{ arguments.through(path.through_object) }}
{%- endfor %}
