// AUTO GENERATED, DO NOT MANUALLY EDIT!!
//
// Description: Automatic generated package related to interrupt
// Owner: hw/scripts/interrupt_map

{% import 'io_macros.jinja2' as macros -%}

package {{ block }}_interrupt_map_pkg;

  parameter int unsigned {{ block | upper }}_INTERRUPT_WIDTH = {{ all_irqs | length }};

  parameter int unsigned {{ block | upper }}_MAX_INTERRUPT_WIDTH = 1023;
  parameter bit [{{ block | upper }}_MAX_INTERRUPT_WIDTH:0] {{ block | upper }}_IRQS_EDGE_TRIGGER = {{ edge_trigger_hex }};
  parameter bit [{{ block | upper }}_MAX_INTERRUPT_WIDTH:0] {{ block | upper }}_IRQS_ASYNC = {{ async_hex }};

  typedef struct packed {
{{ macros.irqs_struct_io(external_irqs) }}
  } {{ block }}_external_irqs_t;

  typedef struct packed {
{{ macros.irqs_struct_io(all_irqs) }}
  } {{ block }}_all_irqs_t;

endpackage
