// AUTO GENERATED, DO NOT MANUALLY EDIT!!
//
// Description: Interrupt connectivity module gathering external interrupt
//
// external_irqs --> module --> external_irqs_struct
//
// Owner: hw/scripts/interrupt_map

{% import 'io_macros.jinja2' as macros -%}

module {{ block }}_interrupt_connectivity_external (
  {{ macros.irqs_port_io(external_irqs) }}
  output {{ block }}_interrupt_map_pkg::{{ block }}_external_irqs_t o_external_irqs
);

  always_comb begin
{% for irq in external_irqs %}
    o_external_irqs.{{ macros.irq_name(irq) }} = {{ macros.irq_name_as_input(irq) }};
{%- endfor %}
  end

endmodule
