{% macro irq_name(irq) -%}
{{ irq.source }}__{{ irq.name }}
{%- endmacro -%}

{% macro irq_name_as_input(irq) -%}
i_irq__{{ irq_name(irq) }}
{%- endmacro -%}

{% macro irqs_port_io(irqs) -%}
{% for irq in irqs %}
  input  logic {{ irq_name_as_input(irq) }},
{%- endfor %}
{%- endmacro -%}

{% macro irqs_struct_io(irqs) -%}
{% for irq in irqs|reverse %}
    logic {{ irq_name(irq) }};
{%- endfor %}
{%- endmacro -%}

{{ irqs_port_io(irqs) }}
