.md-grid {
  max-width: 67rem;
}

.regpic {
  width: 100%;
  border-bottom: 0.05rem solid var(--md-typeset-table-color);
  border-right: 0.05rem solid var(--md-typeset-table-color);
}

.regpic td {
  border-left: 0.05rem solid var(--md-typeset-table-color);
}
