*/auxiliary
*/custom
*/doc
*/kb
*/primeprofiles
*/report
*/scratch
*/sim
*/syn
*/.cT_workspace
*/.version
*/src/DW_axi_dmac.lst

// Unused modules
*/src/*bcm00_ck_inv.v
*/src/*bcm00_nand.v
*/src/*bcm02_cdc.v

// Override modules for PD
*/src/*clkgate_cell.v

// but include ralf files:
*/export/*
!*/export/DW_axi_dmac_uvm.ralf
